
form{
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    align-items: center;
    background-color: rgb(235, 230, 230);
    border-radius: 10px;

}


.isimple{
    margin-top: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.mb-3{
    margin: auto;
    align-items: center;
    justify-content: center;
}

.table{

    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(230, 223, 223);
    
    
}


.label{
    margin-top: 7px;
    margin-right: 4px;
}