

form{
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    

}


.container{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.label{
    margin-top: 7px;
    margin-left: 4px;
}

.formte{

    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}